

#navbar {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right-style: solid;
    border-right-color: rgb(231,234,237);
    overflow-x: hidden;
    padding-top: 20px;
}

main {
    margin-left: 230px; /* Same as the width of the sidenav */
    padding: 20px 20px;
}

#doc-title {
	padding: 0.5rem 1rem;
}

code {
	background-color: rgb(250,252,252);
}


pre {
	background-color: rgb(250,252,252);
	border: solid rgb(240,240,240);
	border-radius: 5px;
	color: rgb(211,77,136);
}

/*.code-xl {
	display: block;
    text-align: left;
    white-space: pre;
    position: relative;
	overflow-wrap: break-word;
    line-height: 2;
    padding: 15px;
    margin: 10px;
}*/


@media screen and (max-height: 450px) {
    #navbar {padding-top: 15px;}
    #navbar a {font-size: 180px;}
}